.element__basket {
  border-style: none;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: start;
  margin-top: 29px;
  background-image: url(../../../images/basket.svg);
  background-color: rgba(0, 0, 0, 0);
  width: 19px;
  height: 19px;
  transition: opacity 0.3s ease-in;
}
.element__basket:hover {
  opacity: 0.6;
  cursor: pointer;
}
