.login-data__question {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 750px) {
  .login-data__question {
    font-size: 12px;
    line-height: 15px;
  }
}
