.login-data__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto 50px;
}

@media screen and (max-width: 750px) {
  .login-data__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}
